.VideoPlay {
	position relative
	display flex
	align-items center
	margin-left 16px
	padding-right 58px
	height 100%

	@media $verticalTablet {
		margin-left 0
	}

	@media (max-width 413px) {
		position absolute
		right 0
		top 50%
		margin-top -21px
		padding 0
		width 42px
		height 42px
	}

	&:hover {
		.VideoPlay__image {
			transform scale(1.0952) translateZ(0)
			img {
				transform scale(1) translateZ(0)
			}
		}
		.VideoPlay__icon {
			transform scale(1) translateZ(0)
		}
	}

	&__text {
		vertical-align middle
		line-height 28px
		font-size 14px
		padding-left 24px
		position relative

		@media $verticalTablet {
			padding-left 0
		}

		@media (max-width 413px) {
			display none
		}
	}

	&__image {
		position absolute
		right 0
		top 50%
		margin-top -21px
		width 42px
		height 42px
		border-radius 50%
		overflow hidden
		transform translateZ(0)
		will-change transform
		transition transform $duration, width $duration, height $duration

		img {
			display block
			width 100%
			transform scale(1.0952) translateZ(0)
			will-change transform
			transition transform $duration
		}

		svg {
			fill #fff
			width 100%
			height 100%
			will-change transform
			transition fill $duration, transform $duration
		}
	}

	&__icon {
		position absolute
		width 100%
		height 100%
		top 50%
		left 50%
		margin-top -21px
		margin-left -21px
		will-change transform
		transform translateZ(0)

	}
}