.FormRow {
  display flex
  width 100%
  position relative
  margin-bottom 20px
  &--left {
    justify-content flex-start
  }
  &--right {
    justify-content flex-end
  }
  &--justify {
    justify-content space-between
  }
  &:last-child {
    margin-bottom 0
  }
}