.Block {
	position relative
	display block

	&:first-child {
		padding-top 200px
		@media $notebook {
			padding-top 180px
		}
		@media $phone {
			padding-top 100px
		}
	}

	&_gray {
		background $lightColor
	}

	&_dark {
		background $darkColor
		color #ffffff
		& .Heading {
			color #ffffff
		}
		.Page__title {
			color #ffffff
		}
		*::selection {
			background-color rgba(255, 255, 255, .99)
			color #151515
		}
	}
	&__inner {
		position relative
		grid-width()
		grid-width(1, padding-left)
		display block
		box-sizing border-box
		margin 0 auto
		box-sizing border-box
		@media $tablet {
			padding-left 0
		}
		@media $verticalTablet {
			padding 0 64px
			width auto
		}
		@media $phone {
			padding 0
		}
	}
}

.block1 {
	&> div&__header {
		margin-bottom 40px

		@media $phone {
			margin-bottom 32px
		}
		&:last-child {
			margin-bottom 0
		}
	}

	div&__bg {
		padding 80px 0

		@media $phone {
			padding 64px 0
		}
	}

	&> div&__noMargin {
		margin-bottom 0
	}

	&> div {
		margin-bottom 80px

		@media $phone {
			margin-bottom 64px
		}
		&:last-child {
			margin-bottom 0
		}
	}
}

.block2 {
	&> div&__header {
		margin-bottom 32px

		@media $phone {
			margin-bottom 24px
		}
		&:last-child {
			margin-bottom 0
		}
	}
	.PageBlock__head {
		margin-bottom 32px
	}
	&> div {
		margin-bottom 64px

		@media $phone {
			margin-bottom 56px
		}
		&:last-child {
			margin-bottom 0
		}
	}
}

.block3 {
	&> div {
		margin-bottom 40px

		&:last-child {
			margin-bottom 0
		}
	}
	> .block4 {
		margin-bottom 24px

		&:last-child {
			margin-bottom 0
		}
	}
	&> div&__header {
		margin-bottom 24px

		&:last-child {
			margin-bottom 0
		}
	}
}
