.Button {
	grid-width(2, min-width)
	position relative
	display inline-block
	vertical-align middle
	box-sizing border-box
	font bold 14px / 1 $fontFamily
	// text-transform uppercase
	color #FFF
	white-space nowrap
	cursor pointer
	border none
	outline none
	border-radius 4px
	user-select none
	text-align center
	background-color transparent
	padding 0
	box-shadow none
	transition color $duration

	&:hover, &--hover {
		background-color transparent
		color #fff

		.Button__inner {
			background-color $linkHoverColor
			faster()

			@media $phone {
				background-color $linkColor
			}
		}
	}
	&:disabled {
		cursor not-allowed
		color #a3a5b1

		.Button__inner {
			background-color #f2f2f2
		}
		&:hover, .Button--hover& {
			.Button__inner {
				background-color #f2f2f2
			}
		}
	}
	&__inner {
		position relative
		display block
		box-sizing border-box
		padding 18px 24px
		border-radius 4px
		background-color $linkColor
		transition background-color $duration, transform $duration, box-shadow $duration
		z-index 1

		@media $notebook {
			padding 18px 32px
		}
	}
	&:before {
		content ''
		fullsize()
		border-radius 4px
		box-shadow 0 2px 4px $linkColor
		transform-origin 50% 100%
		transform translateZ(0)
		opacity 0.3
		transition transform $duration, opacity $duration
	}
	&-wrapper {
		position relative
		display inline-block
		vertical-align middle
		box-shadow 0 2px 4px #CDD0D3
		border-radius 4px
	}
	&__arrow {
		position absolute
		top 50%
		margin-top -10px
		right 22px
		fill currentColor
		transition transform $duration
		transition-timing-function $easeInOutSine
		width 34px
	}
	&__text {
		display inline-block
		transition transform $duration $easeInOutQuart
		transform translateZ(0)
		transform-origin center
	}
	.Link__target-blank {
		display none
	}
	&--arrow {
		text-align left

		.Button__inner {
			background-color transparent
			padding-right 80px
		}
		@media $withoutPhone {
			&:hover, &.Button--hover {
				.Button__arrow {
					transform translateX(3px) translateZ(0)
					faster()
				}
			}
		}
	}
	&--small {
		font-size 12px

		.Button__inner {
			padding 15px 30px 14px
		}
	}
	&--bordered {
		text-transform none
		color $linkColor

		&:before {
			display none
		}
		.Button__inner {
			border-style solid
			border-width 2px
			border-color $linkColor
			background-color transparent
		}
		@media $withoutPhone {
			&:hover, &.Button--hover {
				color #fff

				.Button__inner {
					background-color $linkColor
					faster()
				}
			}
		}
		@media $phone {
			&:hover, &.Button--hover {
				color $linkColor

				.Button__inner {
					background-color transparent
				}
			}
		}
		&.Button--active, &:active {
			color #fff

			.Button__inner {
				background-color $linkColor
			}
		}
	}
	&--white {
		color #fff
		text-transform none

		.Button__inner {
			border-color #fff
		}
		@media $withoutPhone {
			&:hover, &.Button--hover {
				color $textColor !important
				// faster()

				.Button__inner {
					background-color #fff
					border-color #fff
				}
			}
		}
		@media $phone {
			&:hover, &.Button--hover {
				color #fff

				.Button__inner {
					border-color #fff
				}
			}
		}
		&.Button--active, &:active {
			color $textColor !important

			.Button__inner {
				transform none
				background-color #fff
				border-color #fff
			}
		}
	}
	&--dark {
		color $textColor
		text-transform none

		.Button__inner {
			border-color $textColor
		}
		@media $withoutPhone {
			&:hover, &.Button--hover {
				color #fff !important
				// faster()

				.Button__inner {
					background-color $textColor
					border-color $textColor
				}
			}
		}
		@media $phone {
			&:hover, &.Button--hover {
				color $textColor

				.Button__inner {
					border-color $textColor
				}
			}
		}
		&.Button--active, &:active {
			color #fff !important

			.Button__inner {
				transform none
				background-color $textColor
				border-color $textColor
			}
		}
	}
	&--uppercase {
		text-transform uppercase
		letter-spacing 0.4px
	}
	&--active, &:active {
		background-color transparent
		transform none
		// background-color darken($linkColor, 30%)

		.Button__inner {
			transform translateY(2px)
			faster()
		}

		&:before {
			transform scale(0.98, 0.96) translateZ(0)
			opacity 1
			faster()
		}
	}
	&--danger, &--success {
		&:before {
			box-shadow 0 2px 4px 0 #CDD0D3
		}
	}
	&--success {
		&:before {
			box-shadow: 0 2px 4px 0 $greenColor
		}
		.Button__inner {
			background $greenColor
		}
		&:hover, &.Button--hover {
			.Button__inner {
				background darken($greenColor, 15%)
			}
		}
		&:active, &.Button--active {
			.Button__inner {
				background-color darken($greenColor, 30%)
			}
		}
	}
	&--danger {
		.Button__inner {
			background $redColor
		}

		&:hover, &.Button--hover {
			.Button__inner {
				background darken($redColor, 15%)
			}
		}
		&:active, &.Button--active {
			.Button__inner {
				background-color darken($redColor, 30%)
			}
		}
	}
	&--secondary {
		.Button__inner {
			background-color #222629
		}
	}
}
