.Button {
  position relative
  display inline-block
  vertical-align middle
  box-sizing border-box
  padding 18px 60px
  border-radius 4px
  font bold 14px/1 $fontFamily
  text-transform uppercase
  color #FFF
  background-color $linkColor
  cursor pointer
  border none
  outline none
  user-select none
  text-align center
  transition background-color $duration, transform $duration, box-shadow $duration
  box-shadow 0 2px 4px #CDD0D3
  &:disabled {
    cursor not-allowed
    background-color #f2f2f2
    color #a3a5b1
    &:hover {
      background-color #f2f2f2
    }
  }
  &:hover {
    background-color $linkHoverColor
  }

  &--small {
    font-size 12px
    padding 15px 30px 14px
  }

  &--active, &:active {
    background-color darken($linkColor, 30%)
    transform translateY(2px)
    faster()
  }

  &--danger,
  &--success {
    box-shadow 0 2px 4px 0 #CDD0D3
  }

  &--success {
    background $greenColor

    &:hover {
      background darken($greenColor, 15%)
    }
    &:active {
      background-color darken($greenColor, 30%)
    }
  }

  &--danger {
    background $redColor

    &:hover {
      background darken($redColor, 15%)
    }
    &:active {
      background-color darken($redColor, 30%)
    }
  }

  &--secondary {
    background-color #222629
  }
}