.FooterSection {
	width 100%
	background-color $textColor
	overflow hidden
	box-sizing border-box

	&__info {
		grid-width(6)
		display flex
		justify-content space-between

		@media $verticalTablet {
			width auto
			margin-bottom 32px
			&:last-child {
				margin-bottom 0	
			}
		}
		@media $phone {
			flex-direction column
		}
	}
	&__top {
		position relative
		text-align center
		padding-bottom 64px
		margin-bottom 40px

		@media $phone {
			padding-bottom 32px
		}
		&:after {
			content ''
			position absolute
			bottom 0
			left -100%
			right -100%
			height 1px
			background rgba(#979797, 0.12)
		}
		&-title {
			font-size 14px
			color #fff
			font-weight $bold
			line-height 1
			margin-bottom 14px
		}
		&-link {
			display inline-block
			font-size 58px
			line-height 1
			color #fff
			font-weight $bold
			margin-bottom 18px

			&:last-child {
				margin-bottom 0	
			}

			@media $notebook {
				font-size 28px
				margin-bottom 8px
			}

			&:hover {
				color $linkColor
			}
		}
	}
	&__container {
		grid-width(10)
		margin 0 auto
		box-sizing border-box
		padding-top 80px
		padding-bottom 32px

		FooterSectionAdaptive() {
			@media $tablet {
				padding-left 21px
				padding-right 0
			}
			@media $verticalTablet {
				padding-left 0
			}
			@media $phone {
				padding 32px 16px 40px
			}
		}
		FooterSectionAdaptive()

		.FooterSection--offsetLeft & {
			grid-width(1, padding-left)
		}
		.FooterSection--offsetRight & {
			grid-width(1, padding-right)
		}
		.FooterSection--offsetLeft &, .FooterSection--offsetRight & {
			FooterSectionAdaptive()
		}
	}
	&__title {
		text-transform uppercase
		box-sizing border-box
		font-size 36px
		font-weight $bold
		line-height (56/52)
		display inline-block
		vertical-align top
		margin-bottom 40px

		@media $phone {
			font-size 28px
			width 100%
			margin-bottom 24px
			line-height 1.1
		}
	}
	&__content {
		display flex
		justify-content space-between
		margin-bottom 24px
		margin-left -33px

		@media $verticalTablet {
			flex-direction column
		}
		@media $phone {
			margin-left 0
			margin-bottom 32px
		}
		&-head {
			position relative

			@media $phone {
				padding-left 24px
			}
		}
		&-item {
			position relative
			grid-width(3)
			box-sizing border-box
			padding-left 33px

			@media $verticalTablet {
				width 250px
			}
			@media $phone {
				width 100%
				margin-bottom 32px
				padding-left 0

				&:last-child {
					margin-bottom 0
				}
			}
		}
		&-title {
			font-size 14px
			color #fff
			font-weight $bold
			margin-bottom 6px

			@media $phone {
				font-size 18px
			}
		}
		&-address {
			font-size 14px
			color #fff
			margin-bottom 8px
			width 72%

			@media $verticalTablet {
				width 100%
			}
			@media $phone {
				margin-bottom 4px
				width 250px
				margin-bottom 16px
				padding-left 24px
			}
		}
		&-phone {
			font-size 14px
			color #fff

			&:hover {
				color $linkColor
			}
			@media $phone {
				padding-left 24px
			}
		}
	}
	&__sout {
		position absolute
		width 5px
		height 5px
		left 0
		bottom 9px
		background-color transparent
		opacity 0
	}
	&__icon {
		width 24px
		height 24px
		position absolute
		top -4px
		left -27px

		@media $phone {
			left 0
		}
		&--moscow {
			fill $redColor

			@media $phone {
				margin-left -5px
				top -2px
			}
		}
		&--rostov {
			fill $linkColor

			@media $phone {
				top 0px
				margin-left -5px
			}
		}
	}
	&__feedback {
		box-sizing border-box
		display inline-block
		vertical-align top

		@media $verticalTablet {
			margin-left 33px
		}
		@media $phone  {
			padding-top 0
			margin-left 0
			text-align center
		}
		&-button {
			@media $phone {
				.Button__inner {
					padding 18px 40px
				}
			}
		}
	}
	&__mainText {
		color #8A8A8A
		max-width 450px
		margin 0 auto
		text-align center	
	}
	&__bottom {
		display flex
		justify-content space-between
		align-items center

		@media $phone {
			padding-left 0
			padding-top 24px
			flex-direction column
			text-align center
			border-top 1px solid rgba(#979797, .12)
			margin-left -1000%
			margin-right -1000%
		}
	}
	&__copyright {
		@media $phone {
			margin-bottom 8px
		}
	}
	&--light {
		background-color #fff
	}
	*::selection {
		background-color: rgba(255,255,255,0.99)
 		color: $textColor
	}
}
