.TextGroup {

	@media $phone {
		max-width none
	}
	&__title {
		margin-bottom 8px

		&:last-child {
			margin-bottom 0
		}
		.Link {
			display block
			color $textColor

			&:hover {
				color $linkColor
			}
		}
	}
	&__subtitle {
		margin-bottom 16px

		&:last-child {
			margin-bottom 0
		}
	}
}