.Paragraph {
	&_subtitle {
		Subtitle()
	}
	&_subtitlePhone {
		SubtitlePhone()
	}
	&_body {
		Body()
	}
	&_bodyMedium {
		BodyMedium()
	}
	&_bodySmall {
		BodySmall()
	}
	&_bodyXS {
		BodyXS()
	}
	&_bold {
		Bold()
	}
	&_boldMedium {
		BoldMedium()
	}
	&_boldSmall {
		BoldSmall()
	}
	&_gray {
		font-size 14px
		color $secondTextColor
	}
	&_grayItalic {
		font-size 14px
		color $secondTextColor
		font-style italic
	}
}