.Paragraph {
	&_subtitle {
		Subtitle()
	}
	&_body {
		Body()
	}
	&_bodyTable {
		BodyTable()
	}
	&_bodySmallBlack {
		BodySmallBlack()
	}
	&_bodySmall {
		BodySmall()
	}
	&_bodySmallItalic {
		BodySmallItalic()
	}
	&_boldMedium {
		BoldMedium()
	}
	&_boldSmall {
		BoldSmall()
	}
}