.Paragraph {
	&_subtitle {
		subtitle()
	}
	&_subtitlePhone {
		subtitlePhone()
	}
	&_body {
		body()
	}
	&_bodyMedium {
		bodyMedium()
	}
	&_bodySmall {
		bodySmall()
	}
	&_bodySmallGray {
		bodySmallGray()
	}
	&_bodySmallGrayItalic {
		bodySmallGrayItalic()
	}

	&_bodyXS {
		bodyXS()
	}
	&_bold {
		bold()
	}
	&_boldMedium {
		boldMedium()
	}
	&_boldSmall {
		boldSmall()
	}
}