.Reviews {
	position relative
	box-sizing border-box
	overflow hidden

	&:before {
		content ''
		fullsize()
		background-color #fff
		border-radius 4px

		@media $phone {
			border-radius 0	
		}
	}
	@media $tablet {
		width 100%
	}
	@media $phone {
		width auto
		margin-left -16px
		margin-right -16px
		padding-bottom 10px

		.swiper-container {
			overflow visible
		}
	}
	&__container {
		position: relative
		display flex
		align-items flex-start
		width 100%
		transition-timing-function cubic-bezier(0.39, 0.58, 0.57, 1)
	}
	&__item {
		color $textColor
		padding 32px 0
		padding-bottom 90px
		box-sizing border-box
		grid-width(8)

		@media $phone {
			padding 32px 20px
			padding-bottom 48px
		}
		svg {
			max-width 100%
		}
		&_disable {
			opacity 0.1
		}

		&--count {
			opacity .7	
		}
	}
	&__inner {
		position relative
		display flex
		flex-direction column
		padding 0 60px

		@media $phone {
			display block
			padding 0
		}
	}
	&__pagination {
		position absolute
		bottom 10px
		left 50%
		transform translateX(-50%)

		.swiper-pagination-bullet {
			opacity 1
			width 9px
			height 9px
			border-radius 50%
			background-color alpha($textColor, .4)
			margin  0 3px
			transition background-color $duration

			&:after {
				content ''
				position absolute
				z-index 1
				left -3px
				top -3px
				width 15px
				height 15px
				cursor pointer
			}

			&-active {
				background-color $textColor
			}
		}
	}
	&__avatar {

		@media $phone {
			margin-bottom 16px
		}

		img {
			display block
			border-radius 50%
			width 83px
			height 83px
			overflow hidden
		}
	}
	&__content {
		flex-grow 1
	}
	&__top {
		display flex
		justify-content space-between
		align-items center
		margin-bottom 22px
	}
	&__info {
		display flex
		align-items center	

		@media $phone {
			max-width 180px
			flex-direction column
			align-items flex-start	
		}

		&-text {
			padding-left 16px	

			@media $phone {
				padding-left 0
			}
		}
	}
	&__name {
		margin-bottom 8px
	}
	&__logo {

		svg {
			display block
		}
		@media $phone {
			top 0
			left 0
			align-self flex-end

			svg {
				width 140px
				height 62px
			}
		}
	}
	&__position {
		max-width 250px
		margin 0 auto
	}
	&__text {
		margin-bottom 0
		text-align left
		text-indent -0.54em

		@media $phone {
			body()
		}
	}
	&__nav {
		position relative
		left 50%
		z-index 100
		position absolute
		bottom 8px
		transform translateX(-50%)
		height 56px
		margin-top -10px
		display flex

		&-btn {
			position relative
			user-select none
			display block
			transition opacity $duration
			padding 8px
			cursor pointer
			width 32px
			height 56px
			box-sizing border-box
			z-index 100
			background-position center center
			background-size 24px 40px
			background-repeat no-repeat

			@media $phone {
				padding 8px
			}
			svg {
				width 100%
				height 100%
			}
			&:hover {
				opacity 1
			}
			&_prev {}
			&_next {
				transform scaleX(-1)
			}
		}
	}
}

.swiper-container-horizontal > .Reviews__pagination.swiper-pagination-bullets {
	bottom 18px
	left 50%
	width 100%

	@media $phone {
		bottom 8px	
	}
}