.TableCell {
  font-family $fontFamily
  border-bottom 1px solid rgba(#979797, .2)
  padding 13px 22px 18px
  font-size 16px
  &--head {
    font-size 14px
    font-weight bold
    border-bottom none
    padding-bottom 39px
  }
  &--center {
    text-align center
  }
  &--right {
    text-align right
  }
  &--left {
    text-align left
  }
}