@import './common/mixins.styl';
@import './common/easings.styl';
@import './common/variables.styl';

/*** --- Webfonts --- ***/
webfont('Graphik', 'Graphik-Regular-Web', $regular);
webfont('Graphik', 'Graphik-Bold-Web', $bold);
webfont('Graphik', 'Graphik-Black-Web', $black);
