/*** --- Reset CSS --- ***/
@import './reset.styl'

/*** --- Variables and mixins --- ***/
@import './common.styl'

/*** --- Webfonts --- ***/
webfont('Graphik', 'Graphik-Regular-Web', 'woff', $regular);
webfont('Graphik', 'Graphik-Medium-Web', 'woff', $medium);
webfont('Graphik', 'Graphik-Bold-Web', 'woff', $bold);
webfont('Graphik', 'Graphik-Black-Web', 'woff', $black);
webfont('Graphik', 'Graphik-Semibold', 'otf', $semibold);

/*** --- Document --- ***/
html,
body {
	height 100%
	background $bgColor
	color $textColor
	font 300 $fontSize/$lineHeight $fontFamily
	-webkit-text-size-adjust 100%
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale
}


/*** --- Links --- ***/

a {
	text-decoration none
	color $linkColor
	transition color $duration

	&:hover {
		color $linkHoverColor
		faster()
	}
}

*::selection {
	background: $brandColor
	color: #151515
}
