.Menu {
	padding 200px 0
	box-sizing border-box

	@media $notebook {
		padding 120px 0
	}
	@media $laptopHeight {
		padding: 60px 0
	}
	@media $phone {
		height auto
		padding-top 24px
	}
	&__inner {
		display flex
		align-items center
		opacity 0
		transform translateY(-5px)

		.FadeMenu-entered & {
			opacity 1
			transform translateY(0px)
			transition transform 0.15s ease-out 0.1s, opacity 0.15s ease-out 0.1s
		}
		.FadeMenu-exiting & {
			opacity 0
			transform translateY(-5px)
			transition transform 0.1s ease-in, opacity 0.1s ease-in
		}
		@media $phone {
			height auto
			margin-top 0
			padding 0 16px
		}
	}
}
.MenuInner {
	// overflow hidden
	width 100%
	padding-top 64px

	@media $tablet  {
		padding-top 40px
	}
	@media $verticalTablet {
		padding-top 0
	}
	@media (max-width 992px) and (min-width 415px) {
		margin-top -20px
	}
	@media $phone {
		margin-top 0
	}
	@media $notebook {
		padding 120px 0
	}
	@media $phone {
		height auto
		padding-top 0
		padding-bottom 0
		margin-bottom 0
	}

	&__container {
		// grid-width(2, padding-left)
		display flex

		@media $tablet {
			padding-left 0
		}
		@media $phone {
			grid-width(0, padding-left)
			flex-direction column
			display block
		}
	}
	&__item {
		display inline-block
		vertical-align top
		padding-right 96px

		&:last-child {
			padding-right 0
		}
		@media $verticalTablet {
			padding-right 40px
		}
		@media $phone {
			display block
			padding-right 0
			margin-bottom 24px

			&:last-child {
				margin-bottom 0
				// .Menu__link {
				// 	margin-bottom 0
				// }
			}
		}
	}
	&__link {
		font-weight $bold
		color $textColor
		display block
		font-size 32px
		line-height 1.2
		margin-bottom 22px
		margin-left -0.07em
		&:hover {
			color $linkColor
		}

		.page_dark & {
			color #fff
		}
		@media $tablet {
			font-size 28px
		}
		@media $verticalTablet {
			font-size 20px
		}
		@media $phone {
			font-size 32px
			margin-bottom 0
		}
		&.active {

		}
	}
	&__sublist {
		display block
		margin-left -1px
		// padding-left 3px

		@media $phone {
			display none

			&_main {
				margin-left 0
				display block
				margin-top 16px
				margin-bottom 24px
			}
		}
	}
	&__sublink {
		position relative
		display block
		color $secondTextColor
		font-size 14px
		line-height (17/14)
		margin-bottom 19px
		&_hidden{
			display none
		}

		&:hover {
			color $linkColor
		}
		.page_dark & {
			color #fff
		}

		&-icon {
			position: absolute
			left: -6px
			top: -5px

			@media $verticalTablet {
				display: none
			}

			@media $phone {
				display: block
			}

			svg {
				max-width: 100%
				display block
				width: 24px
				height: 24px

				@media $phone {
					width: 32px
					height: 32px
				}
			}
		}


		@media $phone {
			display none

			&_inmobile {
				display block
				font-size 32px
				// color $textColor
				// font-weight $bold
				margin-bottom 16px
				padding-left 26px
				font-size 20px

				&:last-child {
					margin-bottom 0
				}

			}
		}
		&_phone {
			padding-left 20px

			@media $verticalTablet {
				padding-left 0
			}
			@media $phone {
				padding-left 26px
			}
			svg {
				fill $secondTextColor
				transition fill $duration
			}
		}
		&_rostov:hover svg {
			fill $linkColor
			faster()
		}
		&_moskow:hover svg {
			fill #E00909
			faster()
		}
		&_rostov svg {
			@media $phone {
				fill $linkColor
				faster()
			}
		}
		&_moskow svg {
			@media $phone {
				fill #E00909
				faster()
			}
		}
	}
	&_notFound {
		padding-top 80px
		grid-width(0, padding-left)
	}
}
