.Logo {
	position relative
	display inline-block
	vertical-align top
	text-decoration none
	height 28px
	font-size 0

	&__text {
		font-weight $bold
		text-transform uppercase
		letter-spacing 0.06em
		font-size 16px
		padding-top 7px
		padding-left 6px
		display inline-block
		vertical-align top
		line-height 1
	}
	&__link {
		fullsize()
	}
	&__icon {
		fill #FFF45F
		display inline-block
		width 120px
		height 28px
		font-size 0

		.Logo__rectBg {
			transition fill 0.2s 0.1s
			fill $brandColor
		}
		.Logo__text {
			fill $textColor
		}
		.Logo--light & {
			.Logo__rectBg {
				fill #fff
				transition fill 0.2s
			}
		}
		.Logo--black & {
			.Logo__rectBg {
				fill $textColor
			}
			.Logo__text {
				fill #fff
			}
		}
	}

	&--small {
		height 25px

		.Logo__icon {
			height 25px
			width 110px
		}
		.Logo__text {
			font-size 15px
			padding-left 4px
			padding-top 6px
		}
	}
	&--ingroup {
		height auto
	}
	&__ingroup {
		position relative
		z-index 10
		font-size 9px
		line-height 1
		color $secondTextColor
		display block
		text-transform uppercase
		letter-spacing: 1.57px
		padding-top 8px

		a {
			color $secondTextColor

			&:hover {
				color $linkColor
			}
		}
	}
}