.logo {
	display block
	width 120px
	height 28px
	vertical-align top
	text-decoration none
  font-size 0
  svg {
    width 100%
    height 100%
  }

	.Icon {
		fill #FFF45F
		// display block
		transition fill 0.2s
	}
	&__light {
		.Icon {
			fill #fff
		}
	}

	&--small {
		width 110px
		height 25px
	}
}