.logo {
  display block
  width 140px
  height 32px
  background url(assets/logo.svg) no-repeat 50% 50%/contain
  vertical-align top
  text-decoration none
  &--black {
    background-image url(assets/logo-black.svg)
  }

  &--small {
    width 110px
    height 25px
  }
}