.Summary {
	font-size 0
	layout1()
	grid-width(8, max-width )

	&__notes {
		font-size 14px
		color #9e9e9e

		@media $phone {
			font-size 16px
		}

		&-item {
			position relative
			padding-left 18px

			@media $phone {
				font-size 14px
				line-height 1.3
				margin-bottom 6px

				&:last-child {
					margin-bottom 0	
				}	
			}

			span {
				position absolute
				display block
				left 0
				top 0
			}

			&:first-child {
				span {
					left 9px
				}	
			}

			&:nth-child(2) {
				span {
					left 3px
				}	
			}

			&:last-child {
				span {
					left -3px
				}	
			}
		}
	}
	&__inner {
		padding-top 14px
		display flex
		margin-bottom 12px
		
		@media $verticalTablet {
			padding-top 0
			text-align left
			flex-wrap wrap
			margin-bottom 0
			margin 0 -8px
		}
	}
	&__content {
		display inline-block
		vertical-align middle
		width 100%
	}
	&__item {
		min-width 120px
		width 140px
		font-size 16px
		display inline-block
		vertical-align top
		color $textColor
		// box-sizing border-box
		padding 0 8px
		&:hover.Link {
			color $linkColor
		}
		&:last-child {
			padding-right 0
			@media $phone {
				padding 0 8px
			}
		}
		&:first-child {
			padding-left 0
			@media $phone {
				padding 0 8px
			}
		}
		@media $verticalTablet {
			box-sizing border-box
			width 50%
			margin-bottom 40px
			padding 0 12px
			vertical-align top

			&:last-child {
				margin-right 0
			}
		}
		@media $phone {
			padding 0 8px
		}
		// &_goldenSite {
		// 	& .Summary__title:after {
		// 		content '**'
		// 		color #9e9e9e
		// 		font-weight normal
		// 		font-size 14px
		// 		margin-right -5px
		// 		@media $phone {
		// 			font-size 16px
		// 		}
		// 	}
		// }
		&_tagline {
			& .Summary__title:after {
				content '*'
				color #9e9e9e
				font-weight normal
				font-size 14px
				margin-right -10px
				@media $phone {
					font-size 16px
				}
			}
		}
		&_keyperson {
			& .Summary__title:after {
				content '**'
				color #9e9e9e
				font-weight normal
				font-size 14px
				margin-right -10px
				@media $phone {
					font-size 16px
				}
			}
		}
		&_medal {
			display inline-block
			text-align center

			@media $verticalTablet {
				min-width 0
			}
			&:before {
				content ''
				background-size contain
				background-repeat no-repeat
				background-position center
				display block
				margin-right 8px
				// width 60px
				height 70.5px
				margin 0 auto
				vertical-align top
				margin-top -16px
				margin-bottom 8px

				@media $verticalTablet {
					margin-top 0
				}
				@media $phone {
					margin-top 0
					margin-bottom 6px
				}
			}
			&1 {
				// @media $verticalTablet {
				// 	order 3
				// }
				&:before {
					background-image url('medal_1.png')
				}
			}
			&2 {
				// @media $verticalTablet {
				// 	order 4
				// }

				@media $verticalTablet {
					display block
				}
				&:before {
					background-image url('medal_2.png')
				}
			}
			&25 {
				// @media $verticalTablet {
				// 	order 4
				// }
				&:before {
					background-image url('2-5.png')
				}
				@media $verticalTablet {
					display none
				}
			}
			&5 {
				// @media $verticalTablet {
				// 	order 5
				// }
				@media $verticalTablet {
					display block
				}
				&:before {
					background-image url('medal_5.png')
				}
			}
			&9 {
				@media $verticalTablet {
					// order 6
					// margin-bottom 0
				}
				&:before {
					background-image url('medal_9.png')
				}
			}
		}
		&_counter {
			text-align center
			font-weight bold
			min-width 100px
			width 100px
			.Summary__text {
				font-size 16px
			}
			@media $verticalTablet {
				width 50%
				margin 0
				margin-bottom 40px
			}
		}
		&_inline {
			@media $phone {
				float left
				width 50%
			}
		}
		&_experience {
			@media $verticalTablet {
				order 6
			}
		}
		&_specialists {
			@media $verticalTablet {
				order 5
			}
		}
	}
	&__number {
		font-size 45px
		font-weight $bold
		margin-bottom 14px
		line-height 1
		margin-top 4px


		&__plus {
			font-weight normal
		}
		@media $phone {
			margin-bottom 6px
			margin-top 0
		}
	}
	&__text {
		text-align center
		margin 0 auto

		@media $phone {
			display flex
			flex-direction column
			align-items center
		}
	}
	// &__text-link {
	// 	line-height 1.25 !important

	// 	@media $phone {
	// 		font-size 16px
	// 	}
	// }
	&__count {
		text-align center
		display block
		margin-bottom 0

		@media $verticalTablet {
			display inline-block
		}
		@media $phone {
			.Text {
				line-height 1.4
			}
		}
	}
	&__title {
		text-align center
		box-sizing border-box
		vertical-align middle
		line-height 1.3
		font-size 14px

		@media $verticalTablet {
			height auto
			padding-top 0
			white-space normal
		}
		@media $phone {
			max-width 160px
			margin-left auto
			margin-right auto
			margin-bottom 3px
			font-size 16px
		}
	}
	&_awards {
		display block

		.Summary {
			&__item_medal {
				margin-left 40px
				margin-right 40px

				@media $verticalTablet {
					padding 0
					margin-left 0
					margin-right 0
				}
				&:first-child {
					margin-left 0
				}
				&:last-child {
					margin-right 0
				}
			}
		}
	}
}
