.Card {
  display block
  position relative
  width 100%
  height 220px
  &__inner {
      padding 32px 24px 24px 32px
      height 100%
      background-color #fff
      border-radius 4px
      box-sizing border-box
  }
  @media $phone {
    height auto
    padding 24px
  }
	&_bigCard {
    width 50%
    .Card__inner {
      padding 32px 70px 24px 32px
    }
		@media $phone {
			padding 24px	
		}
	}
  &_disabled {
    background-color transparent
    border 1px solid $grayLightColor
  }
  &_gray {
    .Card__inner {
       background-color $grayLighterColor
    }
  }
  &_gap {
    padding 12px
    box-sizing border-box
  }
  &_half {
    width 50%  
  }
  &_quarter {
    width 25%  
  }
}
