.WorkTags {
	display flex
	flex-wrap wrap

	&__item {
		bodySmallGray()
		white-space nowrap
		text-transform lowercase
		margin-right 0.28em

		&:first-child {
			text-transform capitalize
		}
		&:last-child {
			&:after {
				display none
			}
		}
		&:after {
			content ', '
		}

		&_noLowerCase {
			text-transform none
		}
	}

	
}