xxl() {
	font-size 156px
	line-height 140px
	font-weight $bold
}

xl() {
	font-size 112px
	line-height 100px
	font-weight $bold
}

heading1() {
	margin-bottom 24px

	font-size 80px
	line-height 1
	font-weight $bold

	@media $smallTablet {
		margin-bottom 16px

		font-size 48px
		line-height 56px
	}
}

heading2() {
	margin-bottom 24px

	font-size 56px
	line-height 1
	font-weight $semibold

	@media $smallTablet {
		margin-bottom 16px

		font-size 40px
		line-height 50px
	}
}

heading3() {
	margin-bottom 16px

	font-size 40px
	line-height 56px
	font-weight $semibold

	@media $smallTablet {
		margin-bottom 8px

		font-size 28px
		line-height 36px
	}
}

heading4() {
	margin-bottom 8px

	font-size 28px
	line-height 38px
	font-weight $medium

	@media $smallTablet {
		font-size 20px
		line-height 28px
	}
}

heading5() {
	margin-bottom 8px

	font-size 22px
	line-height 24px
	font-weight $semibold
	color $grayLightColor
}

heading6() {
	margin-bottom 8px

	font-size 18px
	line-height 24px
	font-weight $semibold
}
