// placeholder color
placeholder($color) {
	&::placeholder {
		color $color
		opacity 1
	}
}

custom-scrollbar() {
	&::-webkit-scrollbar {
		width 4px
		background transparent
	}
	&::-webkit-scrollbar-track {
		border-radius 0
	}
	&::-webkit-scrollbar-track-piece {
		background transparent
	}
	&::-webkit-scrollbar-thumb {
		border-radius 0
		background rgba(255,255,255,.1)
	}
	&::-webkit-resizer,
	&::-webkit-scrollbar-button,
	&::-webkit-scrollbar-corner {
		display none
	}
}

// basic styles for input and search fields
field() {
	box-sizing border-box
	position relative
	height remify(55px)
	border 1px solid #fff
	border-radius 0
	background rgba(255,255,255,.11)
	color #fff
	font-size remify(20px)
	line-height remify(55px)
	padding remify(13px) remify(10px) remify(10px) remify(50px)
	box-sizing border-box
	transition background-color $duration
	placeholder(#fff)
	&:focus {
		faster()
		background rgba(255,255,255,.25)
	}
	@media $midDesktop {
		padding 13px 10px 10px 40px
		height 45px
		line-height 43px
		font-size 14px
	}
}

// font smoothing
smooth-font() {
	-webkit-font-smoothing antialiased
}

// faster transition
faster() {
	transition-duration ($duration/2)
}

// clearfix
clearfix() {
	&:after {
		display block
		content ''
		height 0
		overflow hidden
		clear both
	}
}

// fullsize
fullsize() {
	position absolute
	left 0
	top 0
	width 100%
	height 100%
}

// font-face
webfont($family, $file, $weight = normal, $style = normal) {
	@font-face {
		font-family $family
		src url('../../fonts/'+$file+'.eot')
		src url('../../fonts/'+$file+'.eot?#iefix') format('embedded-opentype'),
			 url('../../fonts/'+$file+'.woff') format('woff'),
			 url('../../fonts/'+$file+'.ttf') format('truetype')
		font-weight $weight
		font-style $style
	}
}

// cursor grab
cursor-grab() {
	cursor move
	cursor grab
}

// cursor grabbing
cursor-grabbing() {
	cursor move
	cursor grabbing
}

// add icon
icon($width, $height, $url) {
	width $width
	height $height
	background url($url) center no-repeat
	background-size contain
}
