Subtitle() {
	font-size 24px
	line-height 36px
	font-weight normal

	@media $phone {
	}
}

Body() {
	font-size 18px
	line-height 27px
	font-weight normal

	@media $phone {
	}
}

BodyTable() {
	font-size 16px
	line-height 24px
	font-weight normal

	@media $phone {
	}
}

BodySmallBlack() {
	font-size 14px
	font-weight normal
	line-height 21px

	@media $phone {
	}
}

BodySmall() {
	font-size 14px
	font-weight normal
	line-height 21px
	color $secondTextColor

	@media $phone {
	}
}

BodySmallItalic() {
	font-size 14px
	font-weight normal
	line-height 21px
	color $secondTextColor
	font-style italic

	@media $phone {
	}
}

BoldMedium() {
	font-size 16px
	font-weight $bold
	line-height 17px

	@media $phone {
	}
}

BoldSmall() {
	font-size 14px
	font-weight $bold
	line-height 17px

	@media $phone {
	}
}
