subtitlePhone() {
	font-size 22px
	line-height (33 / 22)
	font-weight normal
}

subtitle() {
	font-size 24px
	line-height (36 / 24)
	font-weight normal

	@media $phone {
		subtitlePhone()
	}
}

body() {
	font-size 18px
	line-height (29 / 18)
	font-weight normal
}
bodyMedium() {
	font-size 16px
	line-height (24 / 16)
	font-weight normal

	@media $phone {
		font-size 18px
	}
}
bodySmall() {
	font-size 14px
	font-weight normal
	line-height (20 / 14)

	@media $phone {
		font-size 16px
	}
}
bodySmallGray() {
	bodySmall()
	color $secondTextColor
	line-height (21 / 14)
}
bodySmallGrayItalic() {
	bodySmallGray()
	font-style italic
}
bodyXS() {
	font-size 12px
	font-weight normal
	line-height (16 / 12)

	@media $phone {
		font-size 14px
		line-height (16 / 14)
	}
}

bold() {
	font-size 18px
	font-weight $bold
	line-height (24 / 18)
}
boldMedium() {
	font-size 16px
	font-weight $bold
	line-height (17 / 16)
}
boldSmall() {
	font-size 14px
	font-weight $bold
	line-height (17 / 14)
}
