.Heading {
	display block
	font-family $fontFamily
	color $textColor
	margin 0 0 .6em -0.07em

	&--level {
		&-1 {
			heading1()
		}
		&-2 {
			heading2()
		}
		&-3 {
			heading3()
		}
		&-4 {
			heading4()
		}
		&-5 {
			heading5()
		}
		&-6 {
			heading6()
		}
	}
	&--withoutText {
		pageBlockMargins()
	}
	&:last-child {
		margin-bottom 0
	}
}
