.Heading {
  display block
  font $black 130px $fontFamily
  line-height 0.9642
  color $textColor
  text-transform uppercase
  margin 0 0 .6em -0.07em
  &:last-child {
    margin-bottom 0
  }
  &--level-2 {
    font-size 106px
  }
  &--level-3 {
    font-size 56px
  }
  &--level-4 {
    font-size 34px
  }
  &--level-5 {
    font-size 21px
  }
}