.form-col {
  & {
    position relative
    display flex
    flex-direction column
    width 100%
    box-sizing border-box
  }
  &--large {
    width 60%
    display inline-flex
    vertical-align top
  }
  &--medium {
    width 47.5%
    display inline-flex
    vertical-align top
  }
  &--small {
    width 30%
    display inline-flex
    vertical-align top
  }
}