.Header {
	position absolute
	z-index 10001
	top 0
	left 0
	right 0
	box-sizing border-box
	width 100%
	height 76px
	transform translateZ(0)
	transition height $duration*0.5
	&:before {
		content ''
		position absolute
		top 0
		left 0
		width 100%
		height 100%
		background-color #fff
		opacity 1
		transition: background-color 0.2s ease-in
		z-index -1
		pointer-events none
	}
	.modal-exiting & {
		z-index 20001
	}
	&_pinned {
		position fixed
		width 100vw
	}
	&_isLink {
		position fixed
		width 100vw
		@media $phone {
			position absolute
			width 100%
		}
	}
	&_fix {
		position fixed !important
		top 0 !important
		transition top .15s ease-out

		.Navigation__item {
			transition 25s
		}
	}
	@media $verticalTablet {
		padding-left env(safe-area-inset-left)
		padding-right constant(safe-area-inset-right)
	}
	@media $phone{
		height 56px
		&_ingroup {
			height 64px
		}
	}
	@media $verticalPhone {
		// height 56px
	}
	&_notFound {
		.Header__content{
			display none
		}
		.Hamburger {
			display none
		}
	}
	&_dark {
		.Logo__sufix {
			color #fff
		}
		.Header__content {
			visibility hidden
			opacity 0
			transition opacity 0.1, visibility 0s 0.1s
		}
		& > .Navigation__item:hover {
			color $brandColor
		}
		&:before {
			opacity 0
		}
	}
	&_news {
		.Header__content {
			visibility hidden
			opacity 0
			transition opacity 0.1, visibility 0s 0.1s
		}
	}
	&_topWork {
		position absolute
		top 0 !important
		&:before {
			opacity 0
		}
		.Navigation__item {
			color $lightTextColor
		}
		.VacanciesCount__inner {
			background-color $lightTextColor
			transition background-color $duration
		}
		.Navigation__item:hover, .Navigation__item_active {
			color #fff

			.VacanciesCount__inner {
				background-color #fff
				faster()
			}
		}
		.VideoPlay {
			color $lightTextColor
			&:hover {
				color #fff
			}
		}

		.ModalMenuContainer_menu .VacanciesCount__inner {
			@media $phone {
				background-color #F2F2F2
			}	
		}

		.Hamburger {

			&__line {
				background $lightTextColor
			}

			&:hover {
				.Hamburger__line {
					background #fff
				}
			}

			&_open {
				.Hamburger__line {
					background $textColor
				}
				&:hover {
					.Hamburger__line {
						background $linkColor
					}
				}
			}
		}
		

		& *::selection {
			background alpha(#fff, 0.99)
		}
	}
	&_lab {
		&:before {
			background-color $lightColor
		}
	}
	&_light {
		.Logo .Logo__rectBg {
			fill #FFF45F
		}
	}
	&_small {
		@media $phone {
			height 56px
		}
		.Logo__ingroup {
			opacity 0
			faster()
		}
	}
	&_menu {
		z-index 20001
		&:before {
			background-color #fff
			z-index 2
			transition: z-index .2s 0.6s, background 0.2s ease-out 0.4s
		}
	}
	&_transitionLock {
		.Logo path, .Icon, .Navigation__item, .Hamburger__line {
			transition none
		}
		&:before {
			transition none
		}
	}
	&__inner {
		display flex
		justify-content space-between
		position relative
		align-items center
		padding 24px 64px 0
		z-index 2
		@media $verticalTablet {
			justify-content space-between
		}
		@media $phone{
			padding 16px 16px 0
		}

		.Header_transitionLock & {
			transition none
		}

	}
	&__logo {
		display inline-block
		.Logo {
			height 28px
			&__icon {
				width auto
				width 120px
				height 100%
			}

			@media $phone {
				height 24px
				&__icon {
					width 104px
				}
				&__sufix {
					font-size 14.4px
					padding-top 5.5px
				}
				svg {
					height 24px
					width auto
				}
			}
		}
	}
	&__close {
		position absolute
		top 20px
		right 20px
		cursor pointer
		padding 0
		border none
		display inline-block
		cursor pointer
		width 24px
		height 16px
		background none
		margin-top -15px

		&:before {
			$space = 20px
			content ''
			position absolute
			top (- $space)
			left (- $space)
			bottom (- $space)
			right (- $space)
		}
		&__line {
			position absolute
			display block
			width 100%
			height 2px
			background #FFFFFF
			left 50%
			margin-left -12px
			transition transform $duration, background-color $duration, opacity $duration

			&:first-child {
				top 0
				transform translateY(7px) rotate(45deg) translateZ(0)
			}
			&:nth-child(2) {
				top 50%
				opacity 0
				margin-top -1px
			}
			&:last-child {
				bottom 0
				transform translateY(-7px) rotate(-45deg) translateZ(0)
			}
		}
		&:hover &__line {
			background $linkColor
		}
	}
	&__content {
		display inline-block
		float left
		flex 1
		padding-right 80px
		visibility visible
		transition opacity .15s .1s, visibility 0s

		.modal-entering &, .modal-entered & {
			opacity 0
			visibility hidden
			transition opacity .15s .1s, visibility 0s .2s
			pointer-events none
		}
		@media $tablet {
			padding-right 56px
		}
		@media $verticalTablet {
			padding-right 24px
		}

		&-inner {
			position relative
			display flex
			justify-content flex-end
			height 28px
		}
	}
}
