.Copyright {
	font-size 14px
	color #fff

	&__wrapper {
		display inline-block	
	}

	&__docs {
		display inline-block
		margin-left 12px
		padding-left 12px
		border-left 1px solid #3B3B3B

		.Link {
			color #595959
			line-height 16px
			letter-spacing 0.8px

			&:hover {
				color #fff	
			}
		}	
	}
}
