.Navigation {
	& {
		vertical-align middle
		text-align right
		padding-right 0

		@media $verticalTablet {
			display none
		}
	}
	&__item {
		display inline-block
		vertical-align middle
		color $linkColor
		font-weight $medium
		line-height 28px
		font-size 14px
		transition color $duration
		position relative
		cursor pointer
		padding 0 28px
		font-size 14px
		position relative
		// overflow hidden

		@media $tablet {
			padding 0 20px	
		}

		& .VacanciesCount__tooltip{
			display inline
		}
		&:hover {
			color $linkHoverColor
			faster()
		}
		&_active {
			color $textColor
			faster()
			&:hover {
				color $textColor
			}
		}
	}
}