.WorkItem {
	width 100%
	vertical-align top
	layout2()
	color $textColor
	@media $phone {
		width auto
	}
	&__inner {
		display flex

		@media $phone {
			display block
		}
	}
	&__visual {
		display block
		position relative
		cursor pointer
		padding-right 0
		grid-width(6)
		
		.vjs-has-started {
			background alpha(#FFFFFF, 75%)

			&.vjs-fullscreen {
				background #000	
			}
		}

		

		@media $phone {
			width auto
			float none
			height auto
			margin-left -16px
			margin-right -16px
			margin-bottom 16px

			&:last-child {
				margin-bottom 0	
			}

			&.Link {
				margin-bottom 16px
			}
		}
		.WorkItem__poster {
			display block
			width 100%

			@media $tablet {
				display none
			}
			&_mini {
				display none

				@media $tablet {
					display block
				}
			}
		}
		.WorkItem_link & {
			.Link {
				display block
			}
		}
		.Link__target-blank {
			display none
		}
	}
	&__content {
		display block
		position relative
		grid-width(3)
		box-sizing border-box
		padding-left 42px
		font-size 14px
		&.Link {
			color $textColor
			&:hover {
				color $linkColor
			}
		}
		.WorkItem_link .WorkItem__visual:hover + & {
			color $linkColor
		}
		@media $notebook {
			padding-left 32px
		}
		@media $verticalTablet {
			width 253px
		}
		@media $phone {
			float none
			width auto
			padding-top 0
			padding-left 0
			padding-right 0

			&:before {
				display none
			}
		}
		.Link__target-blank {
			display none
		}
	}
	&__box:before {
		content ''
		display block
		padding-bottom 28.571429%

		@media $notebook {
			padding-bottom 35.4%
		}
	}
	&__media {
		height 100%
		position absolute
		width 100%
		top 0
		z-index 2

		$width = 30px
		&__action {
			position absolute
			top 50%
			left 50%
			margin -($width) 0 0 -($width)
			width 0
			height 0
			border-style solid
			border-width $width 0 $width $width*2
			border-color transparent transparent transparent #fff
		}
	}

	&__title {

		&.Heading {
			display block
			font-size 22px
			@media $phone {
				font-size 20px
				margin-bottom 4px
				line-height (24/20)
			}
		}
	}
	&__tags {
		opacity 0.3
	}
	&__header {
		margin-bottom 16px

		@media $notebook {
			margin-bottom 8px
		}
	}
	&__group {
		display flex
		justify-content space-between
		align-items center

		@media $tablet {
			flex-direction column
			align-items flex-start
		}
		@media $phone {
			flex-direction row
			align-items center
		}

		&_singleLogo {
			.WorkItem__logo {
				// margin-left auto
			}
		}
		&_singleAwards {
			padding 16px 0

			.WorkItem__awards {
				padding-left 0	
			}
		}
	}
	&__logo {
		width 120px
		height 54px
		fill #000

		@media $tablet {
			margin-bottom 8px

			&:last-child {
				margin-bottom 0
			}
		}
		@media $phone {
			margin-bottom 0
		}
	}
	&__awards {
		position relative
		width 122px
		padding-left 8px
		padding-right 8px
		text-align left
		color $textColor

		@media $tablet {
			width auto
			padding-left 0
			padding-right 0
		}
		@media $phone {
			width 122px
			padding-left 8px
			padding-right 8px
		}

		&-count__inner {
			@media $verticalTablet {
				display none
			}
			@media $phone {
				display inline-block
			}
		}

		&-wrapper {
			position relative
			padding-left 26px
		}

		svg {
			fill #000
			position absolute
			top 0
			left 0
		}
	}
	&__info {
		margin-bottom 16px
		color $textColor
		&-text {
			margin-bottom 8px

			&:last-child {
				margin-bottom 0
			}
		}
		&:last-child {
			margin-bottom 0
		}
		@media $tablet {
			max-width 350px
		}
		@media $phone {
			body()
		}
	}
	&__client {
		&__name {
			font-weight $bold
		}
		@media $phone {
			display none
		}
	}
	&__more {
		link()

		@media $phone {
			bold()
		}
	}

	&_onDark {
		color #ffffff
		.WorkItem__info {
			color #ffffff
		}
		.WorkItem__awards {
			color #ffffff
			svg {
				fill #ffffff
			}
		}
		.WorkItem__content {
			&:before {
				background-color #ffffff
			}
			&.Link {
				color #ffffff
				&:hover {
					color $linkColor
				}
			}
		}
		.WorkItem__logo {
			fill #fff
		}
		.WorkItem__more {
			color #ffffff
			&:hover {
				color $linkColor
			}
		}
	}
}
