.CheckboxGroup {
	margin-bottom -12px

	&__label {
		margin-right 14px
		margin-bottom 12px

		&:last-child {
			margin-right 0
		}
		@media $phone {
			margin-bottom 8px
			margin-right 8px
		}
	}
}
