.Link {
	link()

	&:last-child {
		margin-bottom 0
	}
	&__target-blank {
		position absolute
		bottom 0
		transform translateX(0.25em) translateY(-0.14em)
		width 0.86em
		height 0.86em
		display inline-block
		vertical-align middle
		fill currentColor

		svg {
			position absolute
			top 0
			left 0
			width 100%
			height 100%
		}
	}
	&_bold {
		font-weight $bold
	}
	&_light {
		color #FFFFFF
	}
	&_external {
		line-height 1
		position relative
		padding-right 1.2em
	}

	&_grayBlank {
		.Link__target-blank {
			fill $lightTextColor
			transition fill $duration
		}

		&:hover {
			.Link__target-blank {
				fill $linkHoverColor
				faster()
			}	
		}
	}
}
