.Link {
	color $linkColor
	transition color $duration
	cursor pointer

	@media $phone {
		font-size 18px
	}
	&:last-child {
		margin-bottom 0
	}
	&:hover {
		.Link__target-blank {
			fill $linkHoverColor
			faster()
		}
	}
	&__target-blank {
		position absolute
		width 1.714em
		height 1.714em
		display inline-block
		vertical-align middle
		fill $linkColor
		transition $duration
		margin-top -0.31em

		svg {
			position absolute
			top 0
			left 0
			width 100%
			height 100%
		}
	}
	&_bold {
		font-weight $bold
		font-size 16px

		@media $phone {
			font-size 18px
		}
	}
	&_light {
		color #FFFFFF
	}
	&:hover {
		color $linkHoverColor
		faster()

		&:after {
			opacity 1
		}
	}
	&_external {
		position relative
		padding-right 1.714em
	}
}
