$ratio = 1.92;

.Slider {
	margin-bottom 100px
	position relative
	transform translateZ(0)
	overflow hidden

	* {
		user-select none
	}
	&:last-child {
		margin-bottom 0
	}
	@media $phone {
		.swiper-container {
			overflow: visible
		}
	}
	@media $verticalTablet {
		width auto
	}
	@media $phone {
		margin 0
	}
	&__container {
		position relative
		margin-bottom 16px
		transform translateZ(0)

		.swiper-container {
			transform translateZ(0)
		}
		@media $phone {
			padding 0
		}
	}
	&__wrapper {
		display flex
		width 1000%
		position relative
		will-change transform
		transition-timing-function cubic-bezier(0.39, 0.58, 0.57, 1)
	}
	&__navArea {
		position absolute
		top 0
		width 105px
		height 100%
		z-index 1000
		cursor pointer

		&:hover {
			opacity 1
			background: #00000024
			transition: background 0.15s linear

			@media $phone {
				opacity: 0
			}
		}

		&_prev {
			left 0
		}

		&_next {
			right 0
		}

		&_hide {
			opacity 0	
		}

		&-icon {
			position absolute
			top 50%
			margin-top -12px
			height 24px
			width 24px

			animation-duration 1.5s;

			animation-iteration-count infinite
			animation-timing-function linear

			& > path {
				fill #ffffff
				filter drop-shadow( 0 0 2px rgba(0, 0, 0, .7));
				-webkit-svg-shadow: 0 0 2px rgba(0, 0, 0, .7);
			}

			&_left {
				animation-name: MobileSlider__leftArrow;
			}

			&_right {
				animation-name: MobileSlider__rightArrow;
				transform: rotate(180deg);
			}
		}
	}
	& &__item {
		grid-width(8)
	}
	&__img {
		display block
		width 100%
	}
	&__nav {
		position relative
		height 56px
		margin-top -10px
		display flex

		@media $phone {
			display none
			margin-top 0
			font-size 12px
			padding 0
		}
		&_empty {
			margin-left auto

			@media $phone {
				margin-right auto
				margin-left 0
			}
		}
		&-btn {
			position relative
			user-select none
			display block
			transition opacity $duration
			padding 8px
			cursor pointer
			width 32px
			height 56px
			box-sizing border-box
			z-index 100
			background-position center center
			background-size 24px 40px
			background-repeat no-repeat

			@media $phone {
				padding 8px
			}
			&:hover {
				opacity 1
			}
			svg {
				width 100%
				height 100%
			}
			&_prev {}
			&_next {
				transform scaleX(-1)
			}
		}
	}
	&__navigation {
		height 56px
		font-size 12px
		padding 8px 16px
		box-sizing border-box
		line-height 40px
		min-width 90px

		@media $phone {
			padding 8px 0
			text-align center
		}
		&__item {
			display inline-block
			box-sizing border-box
			width 24px
			text-align center

			&--count {
				// color $secondTextColor
				opacity .7
			}
		}
		&-divider {
			color $secondTextColor
		}
	}

	&__pagination {
		position absolute
		bottom 10px
		left 50%
		transform translateX(-50%)
		height 15px
		padding 4px 0

		.swiper-pagination-bullet {
			opacity 1
			width 9px
			height 9px
			border-radius 50%
			background-color alpha(#fff, .4)
			margin  0 3px
			transition background-color $duration
			box-shadow 0 2px 8px 0 #00000060

			&:after {
				content ''
				position absolute
				z-index 1
				left -3px
				top -3px
				width 15px
				height 15px
				cursor pointer
			}

			&-active {
				background-color #fff
			}
			
		}
	}
	&__footer {
		display flex
		justify-content space-between

		@media $phone {
			padding 0 16px
		}
	}
	&__content {
		font-size 14px
		user-select none
		display inline-block
		display none
		height 64px
		width 100%
		max-width 550px
		box-sizing border-box

		@media $verticalTablet {
			max-width 400px
		}
		@media $phone {
			max-width 100%
			height auto
			padding 0
			margin-top 0
		}
		&--active {
			display block
		}

		.TextGroup__subtitle {
			font-style normal	
		}
	}
	&__label {
		display block
		margin-bottom 8px

		@media $phone {
			margin-bottom 4px
		}
	}
	&__text {
		display block
	}
	&__bottom {
		position relative
		display flex
		justify-content space-between

		@media $phone {
			flex-direction column
		}
	}
	.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
		margin 0 3px
	}

	.swiper-container-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
		transition 200ms transform, 200ms left, background-color $duration
	}
}

.swiper-container-horizontal > .Slider__pagination.swiper-pagination-bullets {
	bottom 10px
	left 50%
	width auto
}


@keyframes MobileSlider__leftArrow {
	0% {
		left: 44px;
	}

	50% {
		left: 32px;
	}

	100% {
		left: 44px;
	}
}


@keyframes MobileSlider__rightArrow {
  0% {
    right 44px
  }

  50% {
    right 32px
  }

  100% {
    right 44px
  }
}

